.register {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.register p {
  width: 1200px;
  padding: 0;
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

.register h1 {
  font-weight: 400;
  font-size: 70px;
  margin-top: 50px;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
.register form label {
  margin-top: 15px;
  color: white;
}
 section {
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

label,
button {
margin-top: 1rem;
}

button {
padding: 0.5rem;
}


.register  .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  max-width: 300px;
  background: black;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.register  .instructions > svg {
  margin-right: 0.25rem;
}

.register .offscreen {
  position: absolute;
  left: -9999px;
}

.register  .hide {
  display: none;
}

.register  .valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.register section .invalid {
  color: red;
  margin-left: 0.25rem;
}

.register  .errmsg {
  background-color: lightpink;
  color: firebrick;
  max-width: 580px;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.register .line {
  display: inline-block;
}